body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 25px;
  color: rgb(0, 0, 0);
  background: rgb(247, 250, 247);
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.legend i {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  opacity: .8;
}